<!DOCTYPE html>
<html>
<head>
    <title>Crypto Blockchain Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="sidebar">
    <h2>RYZE Chain</h2>
    <button onclick="loadChain()">Refresh</button>
</div>

<div class="main">

    <div class="card">
        <h3>Dashboard</h3>
        <canvas id="blockChart"></canvas>
    </div>

    <div class="card">
        <h3>Send Transaction</h3>
        <input id="sender" placeholder="Sender">
        <input id="receiver" placeholder="Receiver">
        <input id="amount" type="number" placeholder="Amount">
        <button class="action" onclick="transfer()">Send</button>
        <div id="pendingList" class="pending"></div>
    </div>

    <div class="card">
        <h3>Mining</h3>
        <button class="action" onclick="mine()">Mine Block</button>
        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>

    </div>
<div class="card">
    <h3>Search Address</h3>
    <input id="searchAddress" placeholder="Enter address">
    <button class="action" onclick="searchAddress()">Search</button>
    <div id="addressResult"></div>
</div>
    <div class="card">
        <h3>Blocks</h3>
        <div id="blocks"></div>
    </div>

</div>

<div class="toast" id="toast"></div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>